.bg-purple{
  background-color: #7838a8;
}
.nav-item a{
  color: white;
}
.nav-item a:hover{
  color: gray;
}
.d-flex{
  position: absolute;
  right: 0;
  margin: 15px;
}
.d-flex a{
  margin: 5px;
}
.box-area{
  width: 930px;
}
.card h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.btn-purple{
  background-color: #802DD2;
  color: white;
}

.card{
  max-width: 100%;
  margin: 0 auto;
}
.fix-wide-card{
  width: 500px;
}
.card-history{
  max-width: 80%;
  margin: 0 auto;
}
.card-body input{
  max-width: 350px;
  margin: 0 auto;
}
.success-message{
  color:green;
  text-align: center;
  
}
.error-message{
  color:red;
  text-align: center;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-item{
  width: 25%;
}
.content-box img{
  width: 100%;
  margin: 0px;
  object-fit: cover;
  object-position: 80% 0;
}
.content-box{
  margin: 7px;
}
.card-body{
  display: inline-block;
}
.history{
  display: flex;
  flex-wrap: wrap;
}
.history-item{
  width: 50%;
  
}
.history-content-box{
  text-align: center;
  padding: 20px;
  background-color: #332b3b;
  margin: 25px;
  color: white;
  border-radius: 10px;
  
}
.history-content-box h3{
  color: white;
  margin-top: 20px;
}
.history-content-box svg{
  margin: 20px;
}
.history-content-box a{
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.store{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.store-item{
  width: 20%;
}
.store-content-box{
  background-color: #332b3b;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
.store-content-box img{
  width: 90%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.store-content-box h3{
  color: white;
  text-align: center;
}
.c-purple{
  color: #802DD2;
}
.c-gray{
  color: gray;
  padding: 5px;
}
.store-content-box a{
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
table th,td{
  padding: 5px;
}
table img{
  height: 100px;
  width: auto;
}
.dash_bar{
  background-color: #332b3b;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;

}
.dash_item{
  width: 16.66%;
}
.dash_content{
  margin-left: 10px;
}
.dash_content a{
  text-align: center;
  width: 150px;
  justify-content: center;
}
.dashboard{
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.dashboard p{
  color: #802DD2;
  font-size: 2em;
}
.dashboard_item{
  width: 33.33%;
}
.dashboard_content{
  background-color: #332b3b;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}
.dashboard_content svg{
  margin-bottom: 5px;
}
.btn-add{
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
  display: inline-block;
}

